body{
background:#0f172a;
color:white;
font-family:Segoe UI;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{width:650px;text-align:center;}

input{
padding:12px;
width:300px;
border-radius:10px;
border:none;
}

button{
padding:12px 20px;
background:#22c55e;
border:none;
border-radius:10px;
cursor:pointer;
}

.card{
margin-top:30px;
background:#1e293b;
padding:25px;
border-radius:15px;
}

.scoreBox{
font-size:30px;
margin:20px;
}

.hidden{display:none;}
